@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!doctype html>
<html class="landing simple-sticky-header-enabled">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Landing | Porto Admin - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css" />

    <!-- Landing Page CSS -->
    <link rel="stylesheet" href="css/landing.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.js"></script>

</head>

<body class="alternative-font-4 loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 100}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <header id="header" class="header header-nav-links header-nav-menu header-transparent" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': true, 'stickyStartAt': 70, 'stickyChangeLogo': false, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0 bg-dark box-shadow-none">
                <div class="header-container container h-100">
                    <div class="header-row h-100">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="#" class="goto-top"><img alt="Porto" width="102" height="45" data-sticky-width="82" data-sticky-height="36" data-sticky-top="0" src="img/remedy_w.png" data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="img/remedy_w.png"></a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-gradient btn-modern btn-rounded text-3 ms-4 d-sm-block">TRY IT NOW!</a>
                                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-tertiary btn-modern btn-rounded text-3 ms-4 d-sm-block">Login!</a>
                            </div>
                            <div class="header-row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            <section class="section section-concept section-no-border section-dark section-angled section-angled-reverse border-top-0 pt-5 m-0" id="section-concept" style="background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;" data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="img/landing/header_bg.jpg">
                <div class="section-angled-layer-bottom bg-light" style="padding: 8rem 0;"></div>
                <div class="container pt-5 mt-lg-5">
                    <div class="row align-items-center pt-3">
                        <div class="col-lg-5 mb-5">
                            <h1 class="font-weight-bold text-color-light text-13 line-height-2 mt-0 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">
                                The Best ITSM Solution
                                <span class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600" data-appear-animation-duration="800">
                                    <span class="d-inline-block text-primary highlighted-word highlighted-word-rotate highlighted-word-animation-1 alternative-font-3 font-weight-bold text-1 ms-2">
                                        ever
                                    </span>
                                </span>
                            </h1>
                            <p class="custom-font-size-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
                                Remedy is a simple, fast and scalable bug tracking system that helps your organization manage bugs easily and deliver great products on time.
                            </p>

                            <div id="popup-content-1" class="dialog dialog-lg zoom-anim-dialog rounded p-3 mfp-hide mfp-close-out">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <img width="100%" height="100%"
                                         src="~/img/landing/intro4.jpg">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1 mb-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200" data-appear-animation-duration="750">
                            <div class="border-width-10 border-color-light clearfix border border-radius">
                                <img class="float-left" width="100%" height="100%"
                                     src="~/img/landing/intro4.jpg">

                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-5 custom-header-bar py-4 pe-5 appear-animation p-relative z-index-2" data-appear-animation="maskRight" data-appear-animation-delay="1200" data-appear-animation-duration="750">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1500">
                                <div class="star-rating-wrap d-flex align-items-center justify-content-center position-relative text-color-dark text-5 py-2 mb-2">
                                    <i class="fas fa-star"></i><i class="fas fa-star ms-1"></i><i class="fas fa-star ms-1"></i><i class="fas fa-star ms-1"></i><i class="fas fa-star ms-1"></i>
                                </div>
                                <h4 class="position-relative text-center text-color-light font-weight-bold text-7 line-height-2 negative-ls-1 mt-0 mb-1">Increased my Companies Productivity Tenfold!!</h4>
                                <p class="position-relative text-color-light text-center font-weight-normal opacity-7 mb-1">* by Sean Bowers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="intro" class="section section-no-border section-angled bg-light border-top-0 pt-0 pb-5 m-0">
                <div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-color-light-scale-1" style="padding: 24rem 0;"></div>
                <div class="container pb-5">
                    <div class="intro row align-items-center justify-content-center justify-content-md-start pb-5 pb-md-0">
                        <div class="col-3 pe-0 ps-3 z-index-2">
                            <img src="img/lazy.png" data-plugin-lazyload data-plugin-options="{'effect':'fadeIn'}" data-original="img/landing/intro2.jpg" class="img-fluid border border-width-10 border-color-light box-shadow-5 rounded d-none d-md-block appear-animation" alt="Screenshot 2" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                            <div class="position-absolute d-none d-md-flex align-items-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="900" style="bottom: -60px; right: -90px;">
                                <span class="arrow hlt" style="margin-right: -70px;"></span>
                                <strong class="text-color-dark mb-4 pb-3">advanced features!</strong>
                            </div>
                        </div>
                        <div class="col-10 col-md-9 ps-0 pe-5 pb-5 pb-md-0 mb-5 mb-md-0 p-relative">
                            <div class="intro2 pt-5 pt-md-0 mt-5 mt-lg-0 appear-animation pe-5" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                                <img src="img/lazy.png" data-plugin-lazyload data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}" data-original="img/landing/intro1.jpg" class="img-fluid box-shadow-3 position-relative z-index-1 rounded d-none d-md-block" alt="Screenshot 1" style="left: -110px;">
                            </div>
                            <div class="intro3 z-index-3 position-absolute appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800" style="top: 20%; right: 4%;">
                                <img src="img/lazy.png" data-plugin-lazyload data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}" data-original="img/landing/intro3.jpg" class="img-fluid border border-width-10 border-color-light box-shadow-6 rounded" alt="Screenshot 3">
                                <div class="position-absolute d-none d-md-flex align-items-end appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" style="bottom: -135px; right: -20px;">
                                    <strong class="text-color-dark mb-3">a lot of features!</strong>
                                    <span class="arrow hru"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Vendor -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="vendor/popper/umd/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="vendor/common/common.js"></script>
    <script src="vendor/nanoscroller/nanoscroller.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="vendor/jquery-appear/jquery.appear.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.js"></script>
    <script src="vendor/jquery.lazyload/jquery.lazyload.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

</body>
</html>