@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<a asp-area="Identity" asp-page="/Account/Login">Sign In</a>
<br />
<a asp-area="Identity" asp-page="/Account/Register">Register Company</a>