@model Remedy.Models.Project
@using Remedy.Enums
@using Remedy.Services.Interfaces;

@inject IBTFileService fileService
<header class="page-header">
    <h2>Edit Project</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="Index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>Projects</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>
<div class="row justify-content-center">
    <div class="col-6">
        <section class="card card-modern card-big-info">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2-5 col-xl-1-5">
                        <i class="card-big-info-icon bx bx-purchase-tag-alt"></i>
                        <h2 class="card-big-info-title">Project Details</h2>
                        <p class="card-big-info-desc">Enter basic information for your project.</p>
                    </div>
                    <div class="col-lg-3-5 col-xl-4-5">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="CompanyId" />
                            <input type="hidden" asp-for="Created" />
                            <input type="hidden" asp-for="ImageData" />
                            <input type="hidden" asp-for="ImageType" />
                            <input type="hidden" asp-for="Archived" />
                            <div class="form-group row align-items-center mb-3 d-flex justify-content-center text-center">
                                <div class="col-lg-7 col-xl-6">
                                    <img style="width:100px;height:100px" src="@fileService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!,(int)DefaultImage.Project)" alt="..." id="imageData">
                                </div>
                            </div>
                            <div class="form-group row align-items-center mb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Upload Image</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="file" asp-for="ProjectImg" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                                           onchange="document.getElementById('imageData').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                            </div>
                            <div class="form-group row align-items-center mb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Title</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input asp-for="Name" type="text" class="form-control form-control-modern">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end pt-2 mt-1 mb-0">Description</label>
                                <div class="col-lg-7 col-xl-6">
                                    <textarea asp-for="Description" class="form-control form-control-modern" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group row align-items-center mb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Start Date</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input asp-for="StartDate" class="form-control form-control-modern" asp-items="ViewBag.ProjectId">
                                </div>
                            </div>
                            <div class="form-group row align-items-center mb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">End Date</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input asp-for="EndDate" class="form-control form-control-modern" asp-items="ViewBag.TicketTypeId">
                                </div>
                            </div>
                            <div class="form-group row align-items-center mb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Project Priority</label>
                                <div class="col-lg-7 col-xl-6">
                                    <select asp-for="ProjectPriorityId" class="form-control form-control-modern" asp-items="ViewBag.ProjectPriorityId"></select>
                                </div>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="form-group row align-items-center mb-3">
                                    <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Project Manager</label>
                                    <div class="col-lg-7 col-xl-6">
                                        <select name="PMID" class="form-control form-control-modern" asp-items="ViewBag.ProjectManager"></select>
                                    </div>
                                </div>
                            }
                            <div class="row action-buttons">
                                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                                    <input type="submit" value="Save" class="btn btn-success btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
